<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">The Mustard Tree</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="/lifeline" class="dropdown-toggle" data-toggle="dropdown">Lifeline <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/lifeline">Action</a></li>
                <li><a href="/lifeline">Another action</a></li>
                <li><a href="/lifeline">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="/lifeline">Separated link</a></li>
                <li><a href="/lifeline">One more separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rahab <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/rahab">Home</a></li>
                <li><a href="/rahab">Events</a></li>
                <li><a href="/rahab">Key contacts</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Stories</li>
                <li><a href="/rahab">Back on the streets</a></li>
                <li><a href="/rahab">My life now</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Engage Befriending <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/engage-befriending">Action</a></li>
                <li><a href="/engage-befriending">Another action</a></li>
                <li><a href="/engage-befriending">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="/engage-befriending">Separated link</a></li>
                <li><a href="/engage-befriending">One more separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Starting Point <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="starting-point">Action</a></li>
                <li><a href="starting-point">Another action</a></li>
                <li><a href="starting-point">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="starting-point">Separated link</a></li>
                <li><a href="starting-point">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>