<nav id="main-navigation" class="pull-right">
	<ul>
		<li{% if mixture.url == "index" %} class="active"{% endif %}>
			<a href="/">Home</a>
		</li>
		<li{% if mixture.url == "index" %} class="active"{% endif %}>
			<a href="/">The Mustard Tree</a>
		</li>
	</ul>
</nav>